<html>
{{ "<!-- Header -->" | safeHTML }}
{{ partial "header.html" . }}

<body>

    {{ "<!-- Wrapper -->" | safeHTML }}
    <div id="wrapper">

        {{ partial "nav.html" . }}

        {{ "<!-- Main -->" | safeHTML }}
        <div id="main">

            <section id="banner" class="style2">
                <div class="inner">
                    {{ if .Params.image }}
                    <span class="image">
                        <img src="{{ .Site.Params.baseURL }}/img/{{ .Params.image }}" alt="" />
                    </span>
                    {{ end }}
                    <header class="major">
                        <h1>{{ .Title }}</h1>
                    </header>
                    <div class="content">
                        {{ .Content }}
                    </div>
                </div>
            </section>

            <section id="two" class="spotlights">
                
                <!-- This comes from the _index.md of the current slug -->
                {{ $.Scratch.Set "current_category" .Params.category }}
                {{ $.Scratch.Set "current_continent" "" }}

                <!-- Iterate in all pages-->
                {{ range .Site.RegularPages.GroupByParam "continent" }}
                    {{  range  $index, $element :=  .Pages}}
                        <!-- If the current_category is included in the categories list of each page -->
                        {{ if in .Params.categories ($.Scratch.Get "current_category")}}                        

                            <!-- This is to show separators for each continent, only on the first occurence and only when continent is set. In Blogs it is not. -->
                            
                            {{ if and  (isset .Params "continent") 
                                    (ne .Params.continent ($.Scratch.Get "current_continent") ) 
                                    (ne .Params.continent "NA" ) 
                                }}
                                <div id="main">
                                    {{ partial "place_separator.html" . }}
                                </div>

                                {{ $.Scratch.Set "current_continent" .Params.continent }}       
                            {{ end }}    
                            
                            <!-- doing modulo to account for the css nth child that works with the post that have a continent-->
                            {{  if and (eq .Params.continent "NA" ) (mod $index 2) }}
                                <div id="" >                                    
                                    
                                </div>

                            {{ end }}
                            

                            <!-- The content -->
                            <section>
                                <a href="{{ .Permalink }}" class="image">
                                    <img src="{{ .Site.Params.baseURL }}/img/{{ .Section }}/{{ .Params.image }}" alt=""
                                        data-position="center center" />
                                </a>
                                <div class="content">
                                    <div class="inner">
                                        <!-- <header class="major"> -->
                                        <header class="">
                                            <a href="{{ .Permalink }}" ><h3>{{ .Title }}</h3></a></li>
                                            
                                        </header>
                                        <p>{{ .Description }}</p>
                                        <ul class="actions">
                                            <li><a href="{{ .Permalink }}" class="button">
                                                {{  if eq .Params.post_type  "photo_gallery" }}
                                                    See Photos
                                                    {{else}}
                                                     See More
                                                {{ end}}
                                            </a></li>
                                        </ul>
                                    </div>
                                </div>
                            </section>
                        {{ end }}  
                    {{end}}
                {{ end }}
            </section>
        </div>

        {{ "<!-- Footer -->" | safeHTML}}
        {{ if .Site.Params.footer.enable }}
        {{ partial "footer.html" . }}
        {{ end }}

    </div>

    {{ "<!-- Scripts -->" | safeHTML}}
    {{ partial "js.html" . }}

</body>

</html>