{{ "<!-- Contact -->" | safeHTML}}
    <section id="contact">

        
        <div class="inner">
            <section>
                <h2>Photo newsletter</h2>
                <p>
                    Sign up and get one of my photos every week on your mailbox.
                </p>
                <form action="https://buttondown.email/api/emails/embed-subscribe/mtolkas" method="post" target="popupwindow"
                    onsubmit="window.open('https://buttondown.email/mtolkas', 'popupwindow')" class="embeddable-buttondown-form">
                    <div class="field  first">


                        <label for="bd-email">Your email</label>
                        <input type="email" name="email" id="bd-email" placeholder="Enter Your Email"  required/>
                    </div>
                    <div class="actions">

                        <input class="special" type="submit" value="Subscribe" />
                    </div>

                </form>
            </section>
            <!-- <section>
                <form method="post" action="https://formspree.io/{{ .Site.Params.Contact.formEmail }}">
                    <div class="field half first">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name" />
                    </div>
                    <div class="field half">
                        <label for="email">Email</label>
                        <input type="text" name="email" id="email" />
                    </div>
                    <div class="field">
                        <label for="message">Message</label>
                        <textarea name="message" id="message" rows="6"></textarea>
                    </div>
                    <ul class="actions">
                        <li><input type="submit" value="{{ .Site.Params.Contact.buttonSend }}" class="special" /></li>
                        <li><input type="reset" value="{{ .Site.Params.Contact.buttonClear }}" /></li>
                    </ul>
                </form>
            </section> -->
            <section class="split">
                <section>
                    <h2>Contact</h2>

                            <!-- <form action="https://api.staticforms.xyz/submit" method="post" id="staticform">                              
                              <input type="hidden" name="accessKey" value="6eb81204-5095-4478-a597-0848fc98d408">
                              <input type="hidden" name="subject" value="mtolkas.com contact form">
                              <input type="text" name="honeypot" style="display: none;"> 
                              <input type="hidden" name="redirectTo" value="https://www.google.com">
                              <div class="field">
                                <label class="label">Email</label>
                                <div class="control">
                                  <input class="input" type="email" name="email" placeholder="Enter Your Email" required>
                                </div>
                              </div>
                              <div class="field">
                                <label class="label">Message</label>
                                <div class="control">
                                  <textarea class="textarea" name="message" placeholder="Enter Your Message" required></textarea>
                                </div>
                              </div>
                              <button class="button is-primary" type="Submit">Submit</button>
                            </form>
                 -->
                      


                            <div class="contact-method">
                                <span class="icon alt fa-envelope"></span>
                                {{ range .Site.Params.Contact.email }}
                                <!-- <h3>{{ .title }}</h3> -->
                                {{ .email }}
                                {{ end }}
                            </div>
                    <!-- <div class="contact-method">
                        <span class="icon alt fa-envelope"></span>
                        {{ range .Site.Params.Contact.email }}
                        <h3>{{ .title }}</h3>
                        <a href="mailto:{{ .email }}">{{ .email }}</a>
                        {{ end }}
                    </div> -->
                </section>
                {{/*  <section>
                    <div class="contact-method">
                        <span class="icon alt fa-phone"></span>
                        {{ range .Site.Params.Contact.phone }}
                        <h3>{{ .title }}</h3>
                        <span>{{ .phone }}</span>
                        {{ end }}
                    </div>
                </section>  */}}
                {{/*  <section>
                    <div class="contact-method">
                        <span class="icon alt fa-home"></span>
                        {{ range .Site.Params.Contact.address }}
                        <h3>{{ .title }}</h3>
                        <span>{{ if .name }}{{ .name }}<br />{{end}}
                        {{ if .street }}{{ .street }}<br />{{end}}
                        {{ if .address }}{{ .address }}<br />{{end}}
                        {{ if .address2 }}{{ .address2 }}<br />{{end}}
                        {{ if .city }}{{ .city }}{{ end }}
                        {{ if .state }}{{ .state }},{{ end }}
                        {{ if .zip }}{{ .zip }}{{ end }}
                        {{ if .country }} <br /> {{ .country }} {{ end }}
                        </span>
                        {{ end }}
                    </div>
                </section>  */}}
            </section>
        </div>
    </section>
